nav {
    background: var(--color-primary);
    width: 100%;
    display: grid;
    place-items: center;
    height: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.nav__container * {
    color: var(--color-gray-0);
}

.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.2rem;
}

.nav__logo-container img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}

.nav__links {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav__logo {
    font-size: 1.5rem;
    font-weight: 700;
}

.nav__toggle-btn {
    background: transparent;
    font-size: 1.8rem;
    display: none;
}

.nav__container a {
    transition: var(--transition);
}

.nav__container a:hover {
    color: var(--color-primary-variant);
}

.nav__container menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.theme__toggle-btn {
    background: transparent;
    font-size: 1.8rem;
    display: flex;
    transition: var(--transition);
}

.theme__toggle-btn:hover {
    opacity: 0.75;
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
    .container {
        width: var(--container-w-sm);
    }

    nav {
        height: 4rem;
    }

    .nav__links {
        gap: 3rem;
    }

    .nav__toggle-btn {
        display: inline-block;
    }

    .nav__container menu {
        display: none;
        position: fixed;
        top: 4rem;
        right: 0;
        flex-direction: column;
        gap: 0;
        width: 12rem;
    }

    .nav__container menu.active {
        display: flex;
    }

    .nav__container menu a {
        background: var(--color-gray-0);
        color: var(--color-gray-900);
        border-bottom: 1px solid var(--color-gray-200);
        width: 100%;
        display: grid;
        place-items: center;
        height: 4rem;
        box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    }

    .dark .nav__container menu a {
        background: var(--color-gray-100);
        color: var(--color-gray-800);
        box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
    }
}
