.register {
    display: grid;
    place-items: center;
    height: 100vh;
}

.register__container {
    width: 35rem;
    background: var(--color-white);
    padding: 3rem;
    border-radius: var(--radius-5);
}

.register__container h2 {
    margin-bottom: 2rem;
    color: var(--primary-color);
}

.register form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.register form input {
    padding: 0.7rem;
    background: var(--color-gray-100);
    border-radius: var(--radius-1);
    color: var(--color-black);
}

.register form p > a {
    color: var(--primary-color);
    font-weight: 500;
}

.form__error-message {
    background: var(--color-danger);
    color: var(--color-white);
    padding: 0.6rem 1.5rem;
    border-radius: var(--radius-1);
}

.dark .register__container {
    background: var(--color-gray-200);
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.4);
}

.dark .register form input {
    background: var(--color-gray-300);
    color: var(--color-black);
}

.dark .register form input::placeholder {
    color: var(--color-gray-600);
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
    .register__container {
        padding: 3rem 1.5rem;
    }
}
