@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: rgb(15, 89, 193);
    --primary-color-variant: rgb(11, 175, 207);
    --color-white: #fff;
    --color-black: #000;
    --color-gray-100: #eee;
    --color-gray-200: #ccc;
    --color-gray-300: #bbb;
    --color-gray-400: #999;
    --color-gray-500: #777;
    --color-gray-600: #555;
    --color-gray-700: #333;
    --color-gray-800: #111;
    --color-danger: rgb(246, 67, 67);
    --color-success: rgb(6, 164, 101);

    --radius-1: 0.4rem;
    --radius-2: 0.8rem;
    --radius-3: 1.2rem;
    --radius-4: 1.6rem;
    --radius-5: 2rem;

    --container-w-lg: 80%;
    --container-w-sm: 94%;

    --transition: all 300ms ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    background: var(--color-gray-100);
    color: var(--color-gray-700);
    line-height: 1.6;
}

.container {
    width: var(--container-w-lg);
    margin-inline: auto;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    color: var(--color-black);
    text-transform: uppercase;
    font-weight: 800;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.1rem;
}

h4 {
    font-size: 0.9rem;
}

h5 {
    font-size: 0.75rem;
}

h6 {
    font-size: 0.6rem;
}

a {
    font-size: 0.8rem;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    cursor: pointer;
}

.btn {
    width: fit-content;
    background: var(--color-gray-100);
    color: var(--color-black);
    font-weight: 600;
    padding: 1rem 2rem;
    text-align: center;
    border-radius: var(--radius-1);
    transition: var(--transition);
}

.btn.primary {
    background: var(--primary-color);
    color: var(--color-white);
}

.btn.danger {
    background-color: var(--color-danger);
    color: var(--color-white);
}

.btn.sm {
    padding: 0.5rem 1.2rem;
}

.btn.full {
    width: 100%;
}

.btn:hover {
    background-color: var(--color-black);
    color: var(--color-white);
}
